@model WebApplication1.Models.Usuario

@{
    ViewBag.Title = "Usuário";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Usuário</h4>
        <hr />
        @Html.HiddenFor(model => model.usua_codigo)
        @Html.HiddenFor(model => model.empr_codigo)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.usua_login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usua_login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usua_login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usua_senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usua_senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usua_senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usua_nome, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.usua_nome, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.usua_nome, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Permissão", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("idpermissao", (IEnumerable<SelectListItem>)ViewBag.perm_codigo, new { @class = "form-control col-md-2" })
                <button type="submit" name="addtipo" value="1" class="btn btn-default">add</button>
            </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <div class="col-md-2">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("Permissão")
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var per in ViewBag.Permissoes)
                        {
                            <tr>
                                <td>
                                    @per.Permissao.perm_descricao
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeletePermissao", new {id = per.perm_codigo, ucodigo = Model.usua_codigo})
                                </td>
                            </tr>
                        }

                    </table>


                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
}

        <div>
            @Html.ActionLink("Voltar", "Index")
        </div>
